/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2016, 11:57:56
    Author     : Cotel
*/

@font-face {
    font-family: Bitstream Vera Sans Mono;
    src: url('VeraMono.ttf');
}