/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-abr-2016, 15:12:47
    Author     : micomuo
*/

.root {
  -fx-background-color: black;
}

.textfield {
    -fx-font-size: 60px;
    -fx-padding: 30px 20px 0px 0px;
    -fx-alignment: BOTTOM_RIGHT;
    -fx-background-color: black;
    
}

.textfield > *{
    -fx-text-fill: white;
}

.gridpane {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#cero {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 0px 0px 33px; 
}

.button {
    -fx-font-size: 30px;
    -fx-padding: 0px;
    -fx-background-insets: 0px;
    -fx-background-radius: 1px;
    -fx-background-color: derive(grey, 75%);
    -fx-border-color: black;
    -fx-border-width: 0.6px;
    -fx-border-radius: 1px;
}

.button:hover {
    -fx-background-color: derive(grey, 55%);
}

.button:pressed {
    -fx-background-color: derive(grey, 15%);
}

.button_operation {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.button_operation:hover {
    -fx-background-color: derive(orange, 35%);
}

.button_operation:pressed {
    -fx-background-color: derive(orange, 75%);
}