/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-abr-2016, 12:28:39
    Author     : Cotel
*/


@font-face {
    font-family: Roboto;
    src: url("./roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-style: bold;
    src: url("./roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto Thin;
    src: url("./roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto Light;
    src: url("./roboto/Roboto-Light.ttf");
}

#buttonArchivo {
    -fx-background-color: #62D070;
    -fx-font: 23px "Roboto Light";
}

.title-label {
    -fx-font-family: "Roboto";
}

.content-label {
    -fx-font-family: "Roboto Light";
}

.legend-label {
    -fx-font-family: "Roboto Thin";
}

.transparent {
    -fx-background-color: #F0F0F0;
}

.card-shadow {
    -fx-effect: dropshadow(three-pass-box, #C2C1C1, 5, 0,0,0);
}

.jfx-tool-bar{
    -fx-font-size: 20.0;    
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
    -fx-background-color: #4495C0;
}

.jfx-tool-bar {
    -fx-text-fill: WHITE;
}

.jfx-tab-pane .tab {
    -fx-background-color: #4495C0;
}

.jfx-tab-pane *.tab-header-background {
    -fx-background-color: #4495C0;
}

.option-button {
    -fx-font-family: "Roboto";
    -fx-text-fill: WHITE;
}

.options-burger:hover {
    -fx-cursor: hand;
}
